@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



h2 {
    margin-top: 1%;
}



.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f-s-o {
    margin-top: 2%;
    text-align: center;
}

.button {
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(58, 59, 126);
    border: none;
    padding: 15px 60px;
    color: aliceblue;
    font-size: 20px;
}

.button:hover {
    background-color: rgb(44, 45, 89);
    cursor: pointer;
    text-decoration: underline;
}

.donatediv {
    margin-bottom: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sumdonatelabel {
    text-align: left;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 2px;
}

.donatesumm {
    padding: 5px ;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

@media screen and (max-width: 480px) {
    nav {
        display: none;
    }
}
